html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  ol,
  ul,
  li {
    list-style: none;
  }
  img {
    border: 0 none;
    vertical-align: middle;
  }
  button {
    outline: 0 none;
    border: 0 none;
  }
@fz:12rem;
.exTit{
    height: 50/@fz;
    width: 100%;
    line-height: 4.16666667rem;
    border-width: 1px 0;
    border-style: solid;
    border-color: #797979;
    background: #fff;
    text-align: center;
    position: relative;
    font-size: 20/@fz;
    margin-bottom: 30/@fz;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.exhibition{
    .hed{height: 60/@fz;}
    .btnLists{
        margin: 20/@fz 0 0 ;
        li{
            height:60/@fz;
            width: 350/@fz;
            margin: 0 auto 30/@fz;
            line-height: 60/@fz;
            text-align: center;
            cursor: pointer;
            border-radius: 6/@fz;
            font-size: 20/@fz;
            color: #fff;
        }
        .cab{background: #0cc;}
        .server{background: #09c;}
        .ticket{background: #25d825;}
    }
    .msgLists{
        width: 350/@fz;
        margin: 0 auto 30/@fz;
        li{
            line-height: 26/@fz;
            font-size: 18/@fz;

        }
    }
}
.cabMain{
    .cabSearch{
        height: 40/@fz;
        background: #fff;
        .searchBtn{
            height: 40/@fz;
            width: 100/@fz;
            margin: 0 auto;
            display: block;
            color: #0cc;
            font-size: 20/@fz;
            padding-top: 10/@fz;
            text-align: center;
        }
    }
    .cabLists{
        padding-top: 10/@fz;
        .cabListLi{
            padding-bottom: 10/@fz;
            width: 320/@fz;
            margin: 0 auto 30/@fz;
            background: #fff;
            dl{
                .cabListLi-msg{
                    .tC{
                        text-align: center
                    }
                    height: 30/@fz;
                    line-height: 30/@fz;
                    padding: 0 5%;
                    .msg-p{
                        // width: 45%;
                        // float: left;
                    }
                    .msg-p-all{
                        text-align: center;
                    }
                }
            }
            .todetail{
                padding:0 5%;
                margin-top: 10/@fz;
                div{
                    height: 30/@fz;
                    line-height: 30/@fz;
                    font-size: 18/@fz;
                }
            }
        }

    }
}